html,
body {
  margin: 0;
}

#mapleaflet {
    display: flex; /* Make the container a flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 65vh;
}
